{
    "presets": [
        "next/babel"
    ],
    "plugins": [
        ["styled-jsx/babel", {
            "plugins": ["styled-jsx-plugin-postcss"],
            "optimizeForSpeed": false
        }],
        "babel-plugin-inline-import-graphql-ast"
    ]
}
